.form-control:focus{
    border-color:#ccc; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.btn-primary:focus,active{
    box-shadow:none !important;
    outline:0px !important;
}
input[type="file"]{
    display: none;
}
.btn-no-margin{
    margin: 0;
}
#frame{
    background-image: url(/static/image/image-frame.svg);
    padding-top: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
#pack{
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
#waiting{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: -2rem;
    top: 0.5rem;
    visibility: hidden;
}